<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHjLBsmchrXeeMpXR7F0SaEajni_fmdxo</string>
	<key>GCM_SENDER_ID</key>
	<string>1001426845095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kregulecHub</string>
	<key>PROJECT_ID</key>
	<string>kregulechubdev</string>
	<key>STORAGE_BUCKET</key>
	<string>kregulechubdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001426845095:ios:1334c6e23cf4b2614a0a82</string>
	<key>DATABASE_URL</key>
	<string>https://kregulechubdev-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>